<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <title></title>
</head>
<body>
    {% block title %}
    {% endblock %}
    <span id="date" onload="displayDate()"></span>
    <nav>
        <div class="nav_header">
            <a href="{{ url_for('views.home') }}" class="nav_link"> Home</a>
            <a href="{{ url_for('views.about') }}" class="nav_link"> About</a>
            <a href="{{ url_for('views.contacts') }}" class="nav_link"> Message Center</a>
        </div>
    </nav>
    <div>
        {% block main %}
        {% endblock %}
    </div>
</script>
</body>

</html>